<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= image_tag post.user.avatar_url(32) %>
      <%= link_to post.title, topic_post_path(post.topic, post) %>
    </h4>
    <small>
      <%= post.comments.count %> Comments,  <%= post.votes.count %> Votes
    </small>
  </div>
</div>
